<!-- Navigation-->
<div class="header">
    <div class="wrapper">
        <div class="brand">
          <%= link_to image_tag("https://addons.cdn.mozilla.net/user-media/addon_icons/533/533508-64.png?modified=1465586417"), artists_path %>
          </div>
            <!-- <%= link_to "SIGN UP", new_artist_path %> -->
            <nav class="navigation-items">
            <div class="wrapper">
            <ul class="main-navigation navigation-top-header"></ul>
            <ul class="user-area">
              <% if user_signed_in? %>
                <li>
                  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
                </li>
                <li>
                  <%= link_to('Create Profile', new_artist_path) %>
                </li>
              <% else %>
                <li>
                  <%= link_to 'Sign In', new_user_session_path %>
                </li>
              <% end %>

              <% if user_signed_in? %>
                <li>
                  <%= link_to('Edit account', edit_user_registration_path) %>
                </li>
              <% else %>
                <li>
                  <%= link_to('Register', new_user_registration_path)  %>
                </li>
              <% end %>
            </ul>
            
            <div class="toggle-navigation">
              <div class="icon">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <!-- end Navigation-->
